{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
<style>
    #progressbar .ui-progressbar-value {
        background-color: cornflowerblue;
    }
</style>
{% endblock %}

{% block content %}
<div class="titulo">
    <h2>GALERIA</h2>
</div>
<div class="row center" id=laBarra>
    <div id=progressbar><div class="progress-label">Loading...</div>
    </div>
</div>
<div class="center" id="img">            
    <img id=imagenes src="{% static 'img/Logo%20Personal.gif'%}" width="400px" height="400px">
</div>
{% endblock %}
{% block scripts %}     
<script type="text/javascript" src="{% static 'js/galeria.js'%}"></script>
{% endblock %}